.issue-list {
    h1 {
        text-align: center;   
    }
    h3 {
        margin: 5px 0;
        font-size: 15px;
    }
    small {
        font-size: 11px;
    }
    li {
        list-style: none;
        padding: 12px 0;
        border-bottom: 1px solid black;
    }
    li a {
        display: flex;
        text-decoration: none;
        color: inherit;
    }
    li a:hover {
        color: inherit;
    }
    .title {
        width: calc(100% - 100px);
        h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .comment {
        width: 70px;
        display: flex;
        align-items: center;
    }
    .ads {
        width: 350px;
        height: 200px;
        background-image: url('../public/ads.jpg');
        background-size: cover;
        position: relative;
    }
    .ads::before {
        content: 'ads';
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
        color: white;
        font-size: 20px;
    }
}

